span {
    text-decoration:underline;
    font-family: fantasy;    
}
.border-top1 {
    position: absolute;
    border: 2px solid #ED1C5B;
    bottom: 0;
    width: 100%;
    border-radius: 6px;
    margin-left: -19px;
    padding-left: 19px;
}
img {
    float: right;
    margin-top: -10%;
    width: 36%;
    position: absolute;
    right: 0;
}