<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="10%" alt="Angular Logo" src="../assets/cycling.png">
</div>
<span><span></span></span>
<div class="wrap">
  <a routerLink='/availability'>
    <div></div>
  </a>
  <a routerLink='/bookCycle'>
    <div></div>
  </a>
  <a href="#">
    <div></div>
  </a>
  <a href="#">
    <div></div>
  </a>
  <a href="#"><div></div></a>
</div>



<router-outlet></router-outlet>